# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# docker
Dockerfile.production

# python
__pycache__
venv

# trash
test.*
*.http
.env
*praison*
.vscode