SECRET_KEY="4238(*bp^^$mst9a7jf1-6f%@yt%v_1s$jwqhq&=q!)6gyj3#v"
DEBUG="true"
IS_PRODUCTION="false"
# Set CORS_ALLOW_ALL_ORIGINS=false in production and specify exact origins:
CORS_ALLOW_ALL_ORIGINS="true"
CORS_ALLOWED_ORIGINS="http://localhost:3000"
ALLOWED_HOSTS="*"
SERVER_URL="http://localhost:8000"
DATABASE_USERNAME="admin"
DATABASE_PASSWORD="password"
DATABASE_NAME="chatbot"
DATABASE_PORT="5432"
LOCAL_DATABASE_HOST="localhost"
DOCKER_DATABASE_HOST="postgres"
